.BookCard {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  font-family: sans-serif;
  border: 1px solid #193c47;

  &__title {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-color: #193c47;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;

    &--author {
      text-align: center;
      font-size: 18px;
    }

    &--pages {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
    }

    &--status {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
